#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-row {
  display: flex;
}

.square {
  width: 100px;       /* Set the width of each square */
  height: 100px;      /* Set the height of each square */
  margin: 5px;        /* Add spacing between squares */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  border: 1px solid #000; /* Add a border to each square */
  font-size: 24px;    /* Font size for the value */
  cursor: pointer;    /* Change cursor to pointer on hover */
  box-sizing: border-box; /* Include padding/border in dimensions */
}

.square:hover {
  background-color: #301a1a; /* Add a hover effect */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}
.popup button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
body.win {
  background-color: rgb(170, 4, 4);
}
